@import "../../vars.css";

.card {
  width: var(--card-width);
  height: var(--card-height);
  display: grid;
  place-items: center;
  font-size: 1.25em;
  font-weight: bold;
  background-color: #f0f0f0;
  border-radius: 0.375rem;
  cursor: pointer;
  user-select: none;
}

.cardGuessAnim {
  animation: upAndDown 0.75s;
}

@keyframes upAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.cardSelected {
  background-color: #5a594e;
  color: white;
}
