.subtitle {
  font-weight: bold;
}

.colourDescriptions {
  position: relative;
}

.helpEmojis {
  display: flex;
  flex-direction: column;
}

.helpArrow {
  height: 2.2rem;
  position: absolute;
  bottom: 2rem;
  left: 2.6rem;
}

.emojiRow {
  display: flex;
  align-items: center;
}

.helpEmoji {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3125rem;
  margin-bottom: 0.09375rem;
  display: inline-block;
  border-radius: 0.125rem;
}

.yellow {
  background-color: #f9df6d;
}

.green {
  background-color: #a0c35a;
}

.blue {
  background-color: #b0c4ef;
}

.purple {
  background-color: #ba81c5;
}
