.modal {
  width: auto;
  height: unset;
  position: absolute;
  inset: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
}

.modal h2 {
  display: block;
  margin-top: 0.3125rem;
  margin-bottom: 0.5rem;
  font-size: 1.75em;
  line-height: 1.875em;
  text-align: center;
}

.modal p {
  margin-top: 0.625rem;
  font-size: 1em;
  line-height: 1.2em;
}

.modal ul {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0.7rem;
  padding: 0 1rem;
  font-size: 1em;
  line-height: 1.3;
  list-style: unset;
}

.visible {
  animation: slideIn 200ms forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.closing {
  animation: slideOut 200ms forwards;
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(60px);
  }
}

.hidden {
  display: none;
}

.modalContent {
  width: 100%;
  max-width: 32.5rem;
  max-height: 95%;
  padding: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 0.625rem 0.625rem 0 0;
  box-shadow: 0 0.1875rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.3);
}

.closeX {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  background-color: transparent;
  background-image: url(https://www.nytimes.com/games-assets/v2/assets/icon-close.svg);
  border: none;
  cursor: pointer;
}
